<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 경로를 / 부터 시작하면 static 폴더 파일들 사용 가능 -->
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<!-- 별도의 파일에 저장해두고 한 줄로 import 해서 사용가능(th : fragment 문법) -->
<!--<div class="nav">-->
<!--    <a class="logo">SpringMall</a>-->
<!--    <a>List</a>-->
<!--    <a>Write</a>-->
<!--</div>-->
<div th:replace="~{ nav.html::navbar }"></div>
<!--  th: thymeleaf 약자  -->
<!-- th:each html 쉽게 복붙가능(반복문) -->
<div class="card" th:each="item : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${item.title}">바지</h4>
        <a th:href="@{'/detail/' + ${item.id}}">링크</a>
        <p th:text="${item.price} + 원">7억</p>
        <a th:href="@{/edit/{itemId}(itemId=${item.id})}">✏️</a>
        <!-- 자바스크립트에 Thymeleaf 변수 넣으려면 -->
        <!-- .then() 붙이면 AJAX 요청 완료시 코드실행가능  -->
        <span th:onclick="fetch('/item?itemId=[[${item.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
                location.reload();
            })
        ">🗑️</span>
    </div>
</div>
<script>
    document.querySelectorAll('.btn')[0].addEventListener("click", function () {
        fetch('/test1', {  // 여기 url로
            method : 'post', // POST 요청이 날라가는데
            headers : { 'Content-Type' : 'application/json' }, // json 데이터를 보내겠다
            body : JSON.stringify({name : 'kim'}) // 이 데이터를 들고 날라감
            // stringify 문자로 변환해주는 함수
        })
    })
</script>
</body>
</html>